<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>RaspiWeb</title>
    <meta content="Kontrolliere Deinen Raspberry Pi ueber das Internet" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="modus"></div>
    <div id="pins"></div>
    <div id="neuer-pin" style="display: none">
        <p>Neuen Pin hinzufügen: </p>
        <input id="pin-nummer" type="number" value="1"/>
        <img src="plus-circle.svg" alt="hinzufuegen" onclick="pinHinzufuegen()">
    </div>
    <script src="index.js"></script>
</body>
</html>
