<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>RaspiWeb</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function () {
            socket.emit('message', {data: 'I\'m connected!'});
        });
    </script>
</head>

<body>
<p>Hello world</p>

</body>
</html>
